*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #222;
    background-image: url('images/rainbow.jpg');
    background-size: cover;
    background-position: center;
}
.card{
   width: 90%;
   max-width: 470px;
   
   background-color: rgba(255, 255, 255, 0.5);
   color: #311818;
   margin: 100px auto 0;
   border-radius: 20px;
   padding: 40px 35px;
   text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h1{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, wind{
    font-size: 28px;
    margin-top: -6px;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

.card2{
    font-size: 28px;
    width: 400px; /* Set the width of the card */
    padding: 40px; /* Add padding for content */
    background-color: rgba(255, 255, 255, 0.5); /* Set background color */
    border-radius: 8px; /* Add rounded corners */
    position: absolute; /* Position the card absolutely */
    top: 140px; /* Place the card 20px from the top of the viewport */
    left: 20px; /* Place the card 20px from the left of the viewport */
}

.card3{
    font-size: 28px;
    width: 400px; /* Set the width of the card */
    padding: 40px; /* Add padding for content */
    background-color: rgba(255, 255, 255, 0.5); /* Set background color */
    border-radius: 8px; /* Add rounded corners */
    position: absolute; /* Position the card absolutely */
    bottom: 240px; /* Place the card 20px from the top of the viewport */
    left: 20px; /* Place the card 20px from the left of the viewport */
}

.nav__links {
    list-style: none;
    position: absolute;
    right: 1rem;
    top: 75px;
    width: 100%;
    max-width: 350px;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
    background-color: var(--primary-color);
    border-radius: 1rem;
    display: none;
  }

  .nav__links.open {
    display: flex;
  }

  .nav__links a {
    white-space: nowrap;
    font-weight: 500;
    color: var(--text-dark);
  }

  .nav__links a:hover {
    color: var(--white);
  }

  .nav__links {
    padding: 0.75rem 3rem;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 3rem;
    flex-direction: row;
    max-width: fit-content;
    border-radius: 5rem;
    background-color: rgba(255, 255, 255, 0.5);
  }

  @media (width > 1024px) {
    .nav__links {
      padding: 0.75rem 4rem;
      gap: 4rem;
    }
  }
